<div class="full-landing-image  md:pt-0 py-28 md:py-24 banner h-auto md:h-[70vh] w-full bg-center  bg-cover object-fill md:object-cover  md:bg-cover bg-no-repeat"
     style="background-image: url('../../../../assets/images/Water_ripple.JPG')">

    <div class="home flex items-end justify-end flex-col  max-w-5xl md:max-w-3xl mx-10  md:mx-auto h-full md:py-0">
        <div class="w-full flex flex-col items-start">
            <span class=" text-md stroke-1 md:text-6xl ">For a Livable</span>
            <span class=" text-md stroke-1 md:text-6xl">and</span>
            <span class=" text-md stroke-1 md:text-6xl">Sustainable NZ</span>
        </div>
        <div class=" mt-5 md:mt-10 flex flex-col items-start w-full">
            <button class=" bg-white rounded-full px-3 py-1 md:px-5 md:py-3">
                <p class="text-blue-custom uppercase font-bold text-xs md:text-sm tracking-wide">Learn more</p>
            </button>
        </div>
    </div>


</div>

<div class="container-fuid bg-white">
    <div class="home-content  p-5 relative max-w-3xl mx-auto">
        <h2 class="title pt-14 mb-6" style="  -webkit-text-stroke-width: 2px;">OUR SERVICES</h2>
        <div class="description">
            <p class="text-justify">Baum consulting service are experts in providing expert knowledge in water technology for industry, utilities and agriculture. We drive evidence-based solutions in the three waters through 
                the optimisation of drinking water production, low impact stormwater treatment design, advanced wastewater treatment and reuse as well as energy and nutrient recovery.
            </p>
        </div>
    </div>
    <div class="p-5 relative max-w-5xl mx-auto">
        <img src="../../../../assets/images/content_sv1.jpg">
    </div>
</div>

