


<div class="footer container-fuid h-auto py-5">
    <div class="max-w-6xl w-full h-full  mx-auto p-3">
        <div class="flex flex-col md:flex-row w-full h-full gap-5 md:gap-10">
  
              <div class="flex p-4 w-full  md:w-1/3">
                  <div class="flex-1 md:items-stretch flex-col">
                    <div class="footer_logo flex justify-center">
                      <img src="assets/images/logo2.PNG" class="w-32 h-12 md:w-64 md:h-14 ">
                    </div>
                    <div class="flex justify-center">
                        <div class="w-6 h-6 p-4 mr-3 cursor-pointer bg-gray1-custom rounded-full flex justify-center items-center"><i class="text-white pi pi-instagram"></i></div>
                        <div class="w-6 h-6 p-4 mr-3 cursor-pointer bg-gray1-custom rounded-full flex justify-center items-center"><i class="text-white pi pi-facebook"></i></div>
                        <div class="w-6 h-6 p-4 mr-3 cursor-pointer bg-gray1-custom rounded-full flex justify-center items-center"><i class="text-white pi pi-twitter"></i></div>
                    </div>
  
  
                  </div>
              </div>
              <div class="flex justify-center p-1 md:p-4 w-full h-full">
                  <div class="flex  items-stretch flex-col">
                    <h4 class="font-thin text-gray-400 text-base">VISION & MISSION</h4>
                    <span class="font-thin text-xs leading-relaxed text-gray-400 mt-2">Baum consulting service are experts in providing water technology
                      solution for industry, utilities and agriculture. We are evidence-based
                      experts in the three waters through the optimisation of drinking water
                      production, low impact stormwater treatment design as well as
                      advanced wastewater treatment and reuse. Baum also provide basic
                      and advanced courses in water and wastewater treatment technology.</span>
                  </div>
              </div>
              <div class="flex  p-1 md:p-4 w-full h-full">
                <div class="flex items-stretch  flex-col">
                    <h4 class="font-thin text-gray-400 text-base">CONTACT US</h4>
                    <span class="font-thin text-xs py-2 text-gray-400">Baum Bangkok Head Office</span>
                    <span class="font-thin text-xs py-2 text-gray-400">3394 Latphrao 101, Latphrao Road, Wangthonglang, Bangkok, 10240
                      Thailand</span>
                    <span class="font-thin text-xs py-2 text-gray-400">+66 731 489 2652</span>
                  </div>
              </div>
        </div>
        <hr>
        <div class=" my-5 md:my-3">
          <span >©2022 Baum</span>
        </div>
    </div>
  
  
  </div>
  <div class="container-fuid">
  <div class="full-landing-image relative w-full bg-white md:p-2 p-0  bg-cover bg-center object-cover flex h-12" style="background-image: url('../../../../assets/images/background_footer.JPG');"></div>
  </div>
  