<div class="card-item-project h-auto">

    <!-- section header -->
    <!-- write content here ! -->


    <div class="card-header">
        <div class="image h-52 w-full">
            <img  class="bg-cover object-cover bg-center w-full h-full"
            src="../../../../assets/images/{{data.img}}" alt="Image" />
        </div>
    </div>


    <div class="card-body">

        <div class="title {{data.textcolor}} py-5">{{data.title}}</div>
        <div class="lorem text-justify text-sm py-5" >{{data.description}}</div>
        <div class="footer-cards">
    </div>

    <div class="card-footer">
        <span class="text-xs font-bold">By Pcampus Studio</span>
    </div>

    </div>
</div>