<div class="banner   h-[40vh] md:h-[70vh] w-full bg-center  bg-cover object-fill md:object-cover  md:bg-cover bg-no-repeat"
    style="background-image: url('../../../../assets/images/hero-project-management-stockphoto-agile-standup-meeting-3840x979px.jpeg')">
</div>
<div class="container-fuid">
    <div class="course  p-5 mb-5 relative max-w-5xl mx-auto">
        <h2 class="title pt-14 mb-6" style="  -webkit-text-stroke-width: 2px;">COURSE</h2>
        <div class="grid gird-cols-1 md:grid-cols-3 md:grid-rows-2 gap-14 h-auto mb-10">
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
            <app-carditem-course></app-carditem-course>
        </div>

        <div class="py-10 flex justify-center">
            <button class="uppercase text-white bg-green-custom px-14 py-2 rounded-xl text-xs">load more</button>
        </div>
    </div>
</div>