<div class="items-list display flex flex-col md:flex-row w-full h-auto border-t-2 border-shadow py-10">
    <div class="count w-full md:w-1/5 flex items-center justify-center">
        <div class="circle bg-green-custom w-20 h-20 flex rounded-full flex-col justify-center items-center">
            <!-- write count -->
            <span class="text-white font-bold">24</span>
            <h4 class="text-white font-bold">May</h4>
        </div>
    </div>
    <div class="discription w-full md:w-2/3 px-3 py-3">
        <div class="topic text-sky-custom w-full md:w-2/3  mb-3">Introduction to Drinking Water 
            Treatment Processes
        </div>
        <div class="lorem w-full md:w-5/6">
            <p class="text-justify"> is a 2 day course developed by Baum Ltd for engineers, operators, regulators and infrastructure 
                practitioners or anyone who want to gain and advance their understanding in drinking water treatment processes and basic design… </p>
        </div>
    </div>
    <div class="action w-full md:w-1/5 bg">
        <div class="action-button bg-blue-custom font-bold text-white uppercase p-1 py-2 flex justify-center items-center rounded-2xl text-xs">Course Details</div>
        <div class="lorem-action mt-3 flex flex-col">
            <div class="countDay text-xs py-1 flex justify-end">2 Days</div>
            <div class="countDay text-xs py-1 flex justify-end">$1500 excl GST</div>
        </div>
    </div>
</div>