<div class="cards-items flex md:flex-row flex-col gap-5">

    <!-- place your images -->
    <div class="image w-full md:w-1/2 h-full">
        <img src="../../../../assets/images/{{data.img}}" class="w-full h-40 md:h-80 object-cover bg-cover bg-left">
    </div>
    <!-- place some text -->
    <div class="lorem w-full md:w-1/2 md:ml-3">

        <!-- Edit title here -->
        <div class="title text-blue-custom font-bold">{{data.title}}</div>
        <div class="discription py-3">
            <p class="text-justify">{{data.description}}</p>
        </div>
    </div>
</div>