.cards-items {



    .lorem {

        .title {
            font-size: 1rem;
            letter-spacing: 2.4px;
            font-weight: bold; 
            -webkit-text-stroke-width: 1px;
        }
        
        .discription {
            p {
                line-height: 1.5rem;
            }
        }
    }
}