@import '../../../../assets/style/scss/color.scss';



.about {

    .title {
        color: $green-custom; 
        font-size: 2.4rem;
        letter-spacing: 3px;
        font-weight: bold; 

        @media screen and (max-width: 760px){
            line-height: 2rem;
            font-size: 1.4rem;
        }
    }

    .description {
        line-height: 1.5rem;
        
        p {
            letter-spacing: 0.3px;
        }

        b {
            letter-spacing: 2.3px;
            color: $sky-custom;
            font-weight: 900;
            margin-right: 1rem;
            text-shadow: 0px 0px $sky-custom;
        }
  
    }

    .about-image-profile {
        height: 420px!important;
    }

    .list-items {
        li::before {
            content: "\2022";
            color: $sky-custom; 
            width: 1em;
            position: absolute;
            height: 1em;
            margin-left: -1em;
        }
    }




}