<div class="banner h-[40vh] md:h-[70vh] w-full bg-center  bg-cover object-fill md:object-cover  md:bg-cover bg-no-repeat" style="background-image: url('../../../../assets/images/Water_Treatment_Plant.jpg')">
</div>

<div class="container-fuid">
    <div class="about p-5 relative max-w-3xl mx-auto">
        <h2 class="title md:pt-14 mb-6" style="  -webkit-text-stroke-width: 2px;">ABOUT US</h2>
        <div class="grid md:grid-cols-2 grid-rows-1 gap-1">
            <div class="relative w-full h-full order-2">
                <div class="w-full description">
                        <div class="w-full">
                            <div class="md:text-justify tracking-widest">
                                <p><b style="-webkit-text-stroke-width: 1px;">Dr. Ropru Rangsivek</b>is an internationally
                                and nationally experienced water technologist. 
                                He spent the past 15 years working for leading 
                                organizations in Denmark, Germany, Thailand 
                                and New Zealand. While working at the cutting 
                                edge of technology and sustainable thinking, 
                                he has developed expertise in the following 
                                areas:</p></div>
                        </div>
                </div>
                <ul class="list-items w-full mt-5 relative bottom-0 left-2">
                    <li class="py-1"><p>Decentralised storm water management</p></li>
                    <li class="py-1"><p>Groundwater recharges</p> </li>
                    <li class="py-1"><p>Advanced treatment processes for water
                        and wastewater</p></li>
                    <li class="py-1"><p>Membrane filtration and pre-treatment
                        technologies</p></li>
                    <li class="py-1"><p>Energy and Nutrient recovery</p></li>
                    <li class="py-1"><p>Three water innovation</p></li>
                </ul>
                
            </div>
            <div class="w-full h-auto flex justify-center md:justify-end relative top-0 about-image-profile order-1 md:order-2">
                <img src="../../../../assets/images/person.PNG">
            </div>
        </div>

        <div class="flex w-full h-48 mt-14  mb-3 bg-gray-300 object-cover bg-cover bg-no-repeat bg-center " style="background-image: url('../../../../assets/images/image1.jpeg')">
        </div>

        <div class="mt-12 mb-3">Baum collaborates with leading experts in the field with extensive years of experiences industry,
            utilities as well as consulting companies. Some of our collaborators include
        </div>

        <div class="mt-7">
            <div class="relative w-full flex flex-row h-22 mr-1">
                    <div class="justify-center">
                        <img src="../../../../assets/images/items1.JPG">
                    </div>
                    <div class="justify-center">
                        <img src="../../../../assets/images/items2.JPG">
                    </div>
                    <div class="justify-center">
                        <img src="../../../../assets/images/items3.JPG">
                    </div>
                    <div class="justify-center">
                        <img src="../../../../assets/images/items4.JPG">
                    </div>

            </div>
        </div>

        
    
    
    </div>

</div>
