// Kasetprom Colors //
// Designed by : K.dean //

$sky-1 : #5094FD;
$sky-2 : #69A7FF;
$sky-3 : #89BCFF;
$green : #00AF54;
$kaset-1 : #43AF12;
$kaset-2 : #57C225;
$kaset-3 : #8DE762;
$red : #B00020;
$white : #FFF;
$yellow : #FAD601;
$bg-color-1 : #ffffff;
$bg-color-2 : #E5E5E5;
$line : #C0D7EA;
$light-blue : #DCEBF6;
$light-gray : #81A2BC;
$blue : #96B5CD;
$gray : #7293AE;

$text-main: #2e3436;
$text-welcome-header: #8FD0F1;
$text-input: #C4C4C4;
$main-1: #37b9c5;
$main-1-hover: #abe3eb;


$green-custom: #94c83f;
$sky-custom: #29c1d4;
$gray-custom: #E6E7E8;