<div class="container max-w-9xl py-5 mx-auto">
        <div class="relative flex w-full bg-white h-auto gap-10">
                <div class="bg-white rounded-2xl shadow-2xl w-4/5 px-10 p-3 h-auto "> 
                        <div class="card h-96">
                                <h2 class="text-xl py-3">Headering</h2>
                                <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions" class="h-full"></p-chart>
                            </div>
                </div>

                <div class="w-1/4 flex flex-col  gap-5">
                        <div class="bg-white rounded-2xl shadow-2xl w-full h-48  flex cursor-pointer">
                                <div class="w-1/3 flex flex-col justify-center items-center h-full border-r-2 border-shadow-sm">
                                        <i class="pi pi-book mx-1  text-sky-custom text-5xl mb-3" style="font-size: 3rem"></i>
                                        <h2>Course</h2>
                                </div>
                                <div class="w-2/3 flex justify-center items-center">
                                        <span class="text-3xl">1000</span>
                                </div>
                        </div>

                        <div class="bg-white rounded-2xl shadow-2xl w-full h-48  flex cursor-pointer">
                                <div class="w-1/3 flex flex-col justify-center items-center h-full border-r-2 border-shadow-sm">
                                        <i class="pi pi-users mx-1  text-sky-custom text-5xl mb-3" style="font-size: 3rem"></i>
                                        <h2>Users</h2>
                                </div>
                                <div class="w-2/3 flex justify-center items-center">
                                        <span class="text-3xl">100K +</span>
                                </div>
                        </div>

                        <div class="bg-white rounded-2xl shadow-2xl w-full h-48  flex cursor-pointer">
                                <div class="w-1/3 flex flex-col justify-center items-center h-full border-r-2 border-shadow-sm">
                                        <i class="pi pi-history mx-1  text-sky-custom text-5xl mb-3" style="font-size: 3rem"></i>
                                        <h2>Training</h2>
                                </div>
                                <div class="w-2/3 flex justify-center items-center">
                                        <span class="text-3xl">3</span>
                                </div>
                        </div>
                        
                </div>

        </div>
        <div class="relative flex my-10 gap-10  mx-auto">
            <div class="w-3/4 bg-white rounded-2xl shadow-2xl p-10">
                <p-chart type="line" [data]="lineData"  class="h-full"></p-chart>
            </div>
            <div class="w-1/3  bg-white rounded-2xl shadow-2xl h-auto">
                <div class="card w-full h-full p-10">
                        <h2 class="text-xl py-5">Sale Training</h2>
                        <p-chart type="pie" [data]="profitAndLossData"  class="h-full"></p-chart>
                </div>
        </div>


</div>